@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* colors */

:root {
	--pale_blue: #e0e8ff;
	--bright_blue: #3829e0;
	--very_pale_blue: #f5f7ff;
	--desaturated_blue: #7280a7;
	--dark_blue: #1f2f56;
	--white: #ffffff;
	background-image: url(../images/pattern-background-mobile.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: var(--pale_blue);
}

/* font standardizing */

* {
	font-family: "Red Hat Display", sans-serif;
}

/* screen */

#content {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* flex container */

.box-container {
	width: 327px;
	height: 567px;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: var(--white);
	box-shadow: 0 4px 16px -8px var(--dark_blue);
}

.information-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}

/* flex wrapper */

.text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.checkout-wrapper {
	width: 279px;
	height: 81px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--very_pale_blue);
	border-radius: 10px;
	margin-top: 24px;
	padding: 16px;
	font-size: 15px;
}

.selection-wrapper {
	display: flex;
}

.price-wrapper {
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
}

.buttons-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* flex items */

/* svg's */

.hero-svg {
	width: 100%;
	height: 160px;
	background-image: url(../images/illustration-hero.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.music-svg {
	width: 48px;
	height: 48px;
	background-image: url(../images/icon-music.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

/* text */

.header {
	font-size: 22px;
	color: var(--dark_blue);
	font-weight: 900;
	padding-top: 36px;
	line-height: 100%;
}

.description {
	font-size: 16px;
	color: var(--desaturated_blue);
	width: fit-content;
	padding-top: 22px;
}

/* buttons */

.plan {
	font-weight: 700;
	width: fit-content;
	color: var(--dark_blue);
}

.mensality {
	color: var(--desaturated_blue);
	width: fit-content;
}

.proceed {
	margin-top: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 279px;
	height: 50px;
	border-radius: 12px;
	font-weight: 900;
	font-size: 14px;
	color: var(--very_pale_blue);
	background-color: var(--bright_blue);
	border: none;
	text-decoration: none;
	box-shadow: 0 12px 16px -8px var(--bright_blue);
}

.cancel {
	margin-top: 20px;
	text-decoration: none;
	font-weight: 900;
	font-size: 15px;
	color: var(--desaturated_blue);
	width: fit-content;
}

/* media query */
@media screen and (min-width: 1440px) {
	:root {
		background-image: url(../images/pattern-background-desktop.svg);
	}
}
