/* Mobile: 375px
- Desktop: 1440px */

@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* colors */

:root {
	/* primary */
	--pale_blue: hsl(225, 100%, 94%);
	--bright_blue: hsl(245, 75%, 52%);
	/* secondary */
	--pale_blue: hsl(225, 100%, 94%);
	--bright_blue: hsl(245, 75%, 52%);
	/* neutral */
	--very_pale_blue: hsl(225, 100%, 98%);
	--desaturated_blue: hsl(224, 23%, 55%);
	--dark_blue: hsl(223, 47%, 23%);
}

/* font standardizing */

* {
	font-family: "Red Hat Display", sans-serif;
}

/* screen */

body {
	height: 100vh;
	width: 100vw;
	background-image: url(../images/pattern-background-mobile.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}
/* flex container */

/* flex items */

@media screen and (min-width: 1440px) {
	body {
		background-image: url(../images/pattern-background-desktop.svg);
	}
}
